@media screen and (max-width: 400px) {


.img-content{
    width : 60vw;
    padding-left : 50px;
    padding-top : 6vh;
}

.img-content h1{
    font-size : 24px;
}

.img-content div{
    font-size : 16px;
    line-height : 1.2;
}

/* .img-content-desc{
    font-size : 16px;
} */

.what-we-do{
    text-align : center;
    margin-left : 50px;
    margin-right : 50px;
    margin-top : 0px;
}

.what-we-do-desc{
    align-items : center;
    width : 80vw;
    margin-top : 80px;
}

.what-we-do-title{
    font-size : 24px;
}
.what-we-do-text{
    font-size : 16px;
}

.what-we-do-img img{
    display : none;
}


.key-sector-title, .our-brand-title, .our-projects-title, .resources-title{
    font-size : 24px;
}

.key-sector-text, .our-brand-text, .our-projects-text, .resources-text{
    font-size : 20px;
    padding : 0px 10px;
}
.key-sector-list ul li a{
    margin-left : 3px;
    margin-right : 3px;
    font-size : 12px;
    padding : 2px;
}

.key-subsector{
    flex-direction : column-reverse;
    align-items : center;
    margin-left : 20px;
    margin-right : 20px;
    margin-bottom : 50px;
}

.key-subsector-img img{
    height : 50vh;
    width : 80vw;
}

.key-subsector-desc{
    align-items : center;
    margin-left : 30px;
}

.service-text, .testimonials-text{
    font-size : 18px;
    margin-bottom : 30px;
}

.service-cards{
    flex-direction: column;
    align-items : center;
    margin-left : 80px;
    margin-right : 80px;
}

.service-card-1, .service-card-2, .service-card-3{
    width : 70vw;

}

.our-brands{
    background-image : none;

}

.our-brand-cards{
    flex-direction : column;
    align-items : center;
    margin-left : 50px;
    margin-right : 50px;
}


.our-projects-subsection {
  width: 100vw;
  height: 80px;
}

.our-project-cards{
    background-image : url("");

    display : flex;
    justify-content : center;    
}

.our-project-card img{
    width : 60px;
    height : 60px;
    margin : 10px 10px;
}

.our-experience-title{
    font-size : 24px;
}

.our-experience-text{
    font-size : 16px;
}


.experience-cards{
    flex-direction : column;
    align-item : center;
    padding-left : 10px;
    padding-right : 10px;
}

.experience-cards div img{
   width: 80vw;
   margin-right : 0px;

}

.service-section-title{
    font-size : 24px;
}

.service-section-text{
    padding : 0px 10px;
    font-size : 16px;
}

.service-section-cards{
    flex-direction : column;
    margin-left : 50px;
    margin-right : 10px;
}
.service-section-img{
    margin-bottom : 30px;
}
.service-section-cards div img{
    height : 230px;
    width : 65vw;
}


.motivation-card{
    flex-direction : column-reverse;
    align-items : center;
}

.motivation-card img {
    height : 350px;
    width : 80vw;
}

.motivation-card div{  
    width : 80vw;
    font-size : 14px;
    margin-top : 50px;
    margin-left : 0px;
    margin-right : 0px;
}


#how-we-do-title{
    font-size : 24px;
}

#how-we-do-text{
    font-size : 16px;
    padding : 0px 10px;
}
.how-we-do-cards{
    flex-direction : column;
    margin-left : 20px;
    margin-right : 20px;
    align-items : center;
}

.how-we-do-card-title{
    font-size : 18px;
    font-weight : bold;
    margin-bottom : 16px;
}

.how-we-do-card-text{
    font-size : 16px;
    word-spacing : 2px;
    line-height : 1.4;
    font-weight : thinner;
}

.how-we-do-card-1, .how-we-do-card-2, .how-we-do-card-3, .how-we-do-card-4{
    width : 80vw;
    margin-bottom : 30px;
}



#capabilities-text{
    font-size : 16px;
}

.capabilities-cards{
    flex-direction : column;
    align-items : center;
    margin-left : 35px;
    margin-right : 0px;
}

.capabilities-card-review, .capabilities-card-payment,.capabilities-card-communication{
    margin-bottom : 30px;
    width : 70vw;
}

.subsector-title, .our-solution-title{
    font-size : 32px;
}

.subsector-text, .our-solution-text{
    font-size : 16px;
}
.our-solutions{
    flex-direction : column;
    margin-left : 50px;
    margin-right : 50px;
    align-items : center;
    text-align : center;
}

.our-solution-desc{
    width : 80vw;
    margin-top : 0px;
}

.our-solution-cards-1-section{
    margin-top : 80px;
    /* display : flex; */
}

.card, .brand-card{
    margin-left : 0px;    
    width : 70vw;     
}

.our-solution-gallery{
    flex-direction : column;
    margin-left : 0px;
    margin-right : 0px;
    padding-bottom : 50px;
    align-items : center;
}

.img img{
    width : 85vw;
    /* height : 450px; */
}


.subsectors{
    margin-left : 0px;
    margin-right : 0px;
}

.subsector-leisure, .subsector-corporate{
    flex-direction : column;
    align-items : center;
}

.subsector-entertainment, .subsector-hospitality{
    flex-direction : column-reverse;
    align-items : center;
}

.subsector-img img{
    height : 50vh;
    width : 80vw;
}

.subsector-leisure-desc, .subsector-corporate-desc,.subsector-entertainment-desc, .subsector-hospitality-desc{
    margin-left : 38px;
    margin-right : 38px;
    margin-top : 30px;
    text-align : center;
}


.blogs{
    flex-direction : column;
    align-items : center;
    margin-left : 0px;
    margin-right : 0px;
}

.blog-section-1, .blog-2, .blog-3{
    width : 80vw;
    text-align : center;
    margin-right : 0px;
    margin-bottom : 50px;
}
.blog-1-desc, .blog-desc{
    margin-top : 20px;
    margin-bottom : 20px;
}
.blog-1-text, .blog-text{
    font-size : 20px;
}

.blog-1-img img, .blog-img img{
    height : 50vh;
    width : 80vw;
}

.blog-2{
    margin-bottom : 50px;
}

.blog-2, .blog-3{
    flex-direction : column;
    background-color : white;  
}


.blog-cards{
    flex-direction : column;
    align-items : center;
    margin-left : 0px;
    margin-right : 0px;

}

.blog-card,.blog-card-img img{
    width : 70vw;
}


/* footer section */
.footer{
    flex-direction : column;
    align-items : center;
    padding-bottom : 48px;
}

.footer-section1{
    text-align : center;
    align-items : center;
    width : 80vw;
    margin-bottom : 50px;
}

.footer_content{
    width : 80vw;
}

.social_icons ul{
    justify-content : space-around;
    margin-right : 10px;
}

.footer-section2{
    flex-direction : column;
    align-items : center;
    text-align : center;
}

.information h3{
    color : #F82B33;   
}

.information{
    margin-right: 0px;
    margin-left: 0px;
}


.contact-info h3{
    margin-top : 50px;
    color : #F82B33;   
}

.contact-info {
    width : 80vw;
}

.get-in-touch{
    padding : 10px;
}

.contact-details{
    flex-direction : column-reverse;
    align-items : center;
    padding : 20px;
    margin-left : 50px;
    margin-right : 50px;
}


.contact-phone, .contact-email{
    padding-top : 8px;
    margin-bottom : 20px;
}

.contact-address img{
    padding-top : 8px;
}

.form {
    margin-top : 50px;
    padding-bottom : 50px;
}

.contactus-button{
    text-align : center;
    
}

form{
    width : 80vw;
    margin-left : 20px;
    margin-right : 20px;
    padding : 20px;
}



input{  
    width : 35vw;
}

textarea{
    width : 35vw;
}

.message-section{
    margin-top : 50px;
}

.contactus-button button{
    color : white;
    background-color : #F72E30;
    padding-left : 30px;
    padding-right : 30px;
    padding-top : 10px;
    padding-bottom : 10px;
    border : none;
    border-radius : 5px;
}



.brand-section-1, .brand-section-2{
    flex-direction : column;
    margin-left : 50px;
    margin-right : 50px;
}

.brand-section-1{
    margin-top : 80px!important;
}

.brand-desc{
    align-items : center;
    text-align : center;
    width : 80vw;
    margin-bottom : 120px;
}

.brand-title{
    font-size : 32px; 
}

.brand-text{
    font-size : 16px; 
}

.brand-card{
  width : 70vw;
  padding-left : 10px;
  padding-right : 10px;

}

.brand-card-img img{
    width : 50vw;
    height : 50vw;
}


.brand-card-1{
    margin-bottom : 80px;

}

 .brand-card-2{
    margin-bottom : 120px;
}

.brand-crousel{
    margin-left : 20px;
    margin-right : 20px;
}

.crousel-img img{
    width : 60vw;
    height : 30vh;
}

.left-swipe-arrow img, .right-swipe-arrow img{
    height : 30px;
    width : 30px;
    margin-top : 15vh;
}

.sub-brand-2{
    flex-direction : column;
    align-items : center;
    margin-left : 20px;
    margin-right : 20px;
}

.sub-brand-1,  .sub-brand-3{
    flex-direction : column-reverse;
    align-items : center;
    margin-left : 20px;
    margin-right : 20px;
}

.sub-brand-desc{
    width : 80vw;

}

.sub-brand-title{
    text-align : center;
    font-size : 32px;
}

.sub-brand-text{
    font-size : 16px;
    text-align : center;
}

.sub-brand-img img{
    width : 60vw;
    height : 60vw;
}



}