@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;300;700&family=Montserrat:wght@500;700&family=Poppins:wght@300;400;500;600&family=Roboto&display=swap');
/* font-family: 'Lexend', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif; */

*{
    margin : 0;
    padding : 0;
}

.hamburger-icon i{
    display : none;
}

.cross-icon{
    display : none;
}

#click {
    display : none;
}

/* Navigation starts */
.navbar{
    height : 86px;
    display : flex;
    justify-content : space-between;
    padding-left : 150px;
    padding-right : 150px;
    opcity : 0.9;
    align-items : center;
}

.logo img{
    width : 120px;
    height : 50px;
}

.menu{
    font-size : 18px;
    font-family: 'Montserrat-bold', sans-serif;
}

.menu ul{
    display : flex;
    justify-content : center;
    list-style-type : none;
}

.menu ul li{
    padding-left : 50px;
}

.menu ul li a{ 
    text-decoration: none;
    color : #111;
}

.menu ul li a:hover{
    color : #F82B33;
}

.active{
    color : #F82B33!important;
    font-weight : bold;
}

.contactus a{
    padding-left : 5px;
    padding-right : 5px;
    margin-top : -5px;
    padding-top : 5px;
    padding-bottom : 5px;
    background-color : #F82B33;
    color : white!important;
    border-radius : 2px;
}

/* Navigation ends */

.background_image{
    color : white;
    height : 90vh;
    background-image : linear-gradient(to right, black, transparent), url("../images/replicate-prediction-t7ja4qpvlnb3tidbmqsoufghra.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.background_image_crousel{
    color : white;
    height : 60vh;
    background-image : linear-gradient(to right, black, transparent),url("../images/replicate-prediction-t7ja4qpvlnb3tidbmqsoufghra.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.brand-page-background{
    color : white;
    height : 60vh;
    background-image : linear-gradient(to right, black, transparent),url("../images/Group 71718.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.solution_background_image_crousel{
    color : white;
    height : 60vh;
    background-image : url("../images/Group 71760.png"),linear-gradient(to right, black, transparent, black),url("../images/abstract-app-social-web-service-object.png");
    background-position: bottom left,center,center;
    background-repeat: no-repeat;
    background-size: 400px 200px,cover,cover;
    background-position-x : 100px, 0px, 0px;
    background-position-y : 27vh, 0px, 0px;
}

.solution_background_image_crousel div h1{
    padding-top: 20vh;
    padding-right: 20px;
    text-align : end;
}

.img-content{
    width : 35vw;
    padding-top : 20vh;
    padding-left : 100px;
}

.img-content h1{
    font-family: 'Lexend-bold', sans-serif;
}

.img-content-text{
    text-align : center;
    padding-top : 30vh;
    font-family : 'Lexend-bold', sans-serif;
    font-weight : bold;
}

.img-content div{
    font-size : 18px;
    word-spacing : 2px;
    line-height : 1.4;
    margin-top : 30px;
    margin-bottom : 50px;
    font-family: 'Lexend', sans-serif;
    font-weight : light;
}

.img-content a{
    text-decoration : none;
    color : white;
    border : 2px solid white;
    border-radius : 5px;
    padding-top : 10px;
    padding-bottom : 10px;
    padding-left : 36px;
    padding-right : 36px;
    font-family: 'Lexend-light', sans-serif;
}

.img-content a:hover, .what-we-do-btn a:hover{
    background-color : #F72E30;
    color : white;
    border : none;
}


.what-we-do{
    display : flex;
    justify-content : space-between;
    margin-left : 200px;
    margin-right : 100px;
    padding-top : 80px;
    padding-bottom : 80px;
    background-image : url("../images/Group 71739.png");
    background-repeat: no-repeat;
    background-size : 100vw 70vh;
}

.section{
    background-image : url("../images/Group 71368.png");
    background-repeat: no-repeat;
    background-size : 100vw 200vh;
}

.what-we-do-desc{
    width : 40vw;
    margin-top : 100px;
}

.what-we-do-title{
    font-size : 32px;
    font-family: 'Lexend', sans-serif;
    color : #F72E30;
    font-weight : bold;
    margin-bottom : 20px;
}

.what-we-do-text{
    font-size : 20px;
    font-family: 'Montserrat-medium', sans-serif;
    font-weight : regular;
    word-spacing : 2px;
    line-height : 1.2;
    margin-bottom : 50px;
}

.what-we-do-btn a{
    font-family: 'Montserrat-medium', sans-serif;
    text-decoration : none;
    color : black;
    border : 2px solid black;
    border-radius : 5px;
    padding-top : 10px;
    padding-bottom : 10px;
    padding-left : 36px;
    padding-right : 36px;
}

.what-we-do-swiper{
    width : 40vw!important;
}

.what-we-do-img img{
    height : 65vh;
    width : 35vw;
}

.services{
    margin-bottom : 80px;
}

.service-desc, .testimonials-desc{
    text-align : center;
}

.service-title, .testimonials-title{
    font-family: 'Poppins', sans-serif;
    font-weight : bolder;
    font-size : 24px;
    color : #F72E30; 
    margin-bottom : 10px;
}

.service-text, .testimonials-text{
    font-size : 24px;
    font-family : 'Lexend-bold', sans-serif;
    font-weight : bold;
    margin-bottom : 50px;
}

.service-cards{
    display : flex;
    justify-content : center;
    margin-left : 150px;
    margin-right : 150px;
    text-align : center;
}

.service-card-1, .service-card-2, .service-card-3{
    height : 380px;
    width : 310px;
    background-color : white;
    margin : 20px;
    padding : 10px;
    border-radius : 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}



.service-card-1:hover .service-card-text,.service-card-2:hover .service-card-text,.service-card-3:hover .service-card-text{
    color : white!important;
    line-height : 1.6!important;
    font-size : 18px;
}

.service-card-1:hover .service-card-btn,
.service-card-2:hover .service-card-btn,
.service-card-3:hover .service-card-btn{
    border : 2px solid white;
}

.service-card-1:hover .service-card-btn a,
.service-card-2:hover .service-card-btn a,
.service-card-3:hover .service-card-btn a{
    color : #fff;
}


.service-card-1:hover,
.service-card-2:hover,
.service-card-3:hover{
    color : white!important;
    background-color : #F72E30;
}

.service-card-1:hover .service-card-img {
    align-items : center;
}


.service-card-img {
    position: relative;
    align-items : center;
}

.service-card-img img{
    height : 130px;
    width : 130px;
    margin-bottom : 20px;
    margin-top : 16px;
}

.service-card-img img.image-hover {
    position: absolute;
    top: 0;
    right: 0;
    left: 29%;
    bottom: 0;
    object-fit: contain;
    opacity: 0;
    transition: opacity .2s;
}

.service-card-1:hover .service-card-img img.image-hover, 
.service-card-2:hover .service-card-img img.image-hover, 
.service-card-3:hover .service-card-img img.image-hover {
    opacity: 1;
}

.service-card-title{
    font-size : 24px;
    font-weight : bold;
    margin-bottom : 10px;
    font-family: 'Poppins', sans-serif;
}

.service-card-text{
    font-size : 18px;
    color : #707070;
    line-height : 1.5;
    margin-bottom : 40px;
    font-family: 'Poppins-light', sans-serif;
}

.service-card-btn, .card-btn, .brand-card-btn{
    font-family: 'Montserrat-medium', sans-serif;
    border : 2px solid #707070;
    border-radius : 2px;
    padding-top : 10px;
    padding-bottom : 10px;
    padding-left : 24px;
    padding-right : 24px;
}

.service-card-btn:hover, .card-btn:hover, .brand-card-btn:hover{
    border : none;
    background-color : #F72E30;
}

.service-card-btn a, .card-btn a, .brand-card-btn a{
    text-decoration : none;
    color : black;
    margin-right : 2px;  
}

.service-card-btn:hover a, .card-btn:hover a, .brand-card-btn:hover a{
    text-decoration : none;
    color : white;
    margin-right : 2px;   
}

.key-sector-desc, .our-brand-desc, .our-projects-desc, .resources-desc{
    text-align : center;
}

.key-sector-title, .our-brand-title, .our-projects-title, .resources-title{
    font-family: 'Poppins-bold', sans-serif;
    font-size : 32px;
    color : #F72E30;
    margin-bottom : 10px;
    font-weight : bold;
}

.key-sector-text, .our-brand-text, .our-projects-text, .resources-text{
    font-family: 'Poppins-regular', sans-serif;
    font-size : 20px;
    margin-bottom : 50px;
}

.key-sector-list{
    margin-bottom : 50px;
}

.key-sector-list ul {
    display : flex;
    justify-content : center;
}

.key-sector-list ul li{
    list-style-type : none;
    
}

.key-sector-list ul li a{
    font-family: 'Poppins-regular', sans-serif;
    text-decoration : none;
    color : #707070;
    margin-left : 20px;
    margin-right : 20px;
    font-size : 18px;
    padding : 10px;
}

.key-sector-active-list a{
    color : black!important;
    text-decoration: underline!important;
    text-underline-offset: 10px!important;
    text-decoration-color : #F72E30!important;
}


.key-subsectors{
    /* display : none; */
}
.key-subsector{
    display : flex;
    justify-content : space-around;
    
    margin-left : 200px;
    margin-right : 100px;
    margin-bottom : 80px;
}

#entertainment-subsector, #education-subsector{
    display : none;
}

.display{
    display:block;
}
.key-subsector-img img{
    height : 65vh;
    width : 40vw;
}
.key-subsector-desc{
    padding-left : 50px;
}
.key-subsector-title{
    font-family: 'Poppins-bold', sans-serif;
    margin-top : 30px;
    font-size : 20px;
    padding-top : 20px;
    padding-bottom : 20px;
}

.key-subsector-text{
    font-family: 'Poppins-regular', sans-serif;
    word-spacing : 1px;
    line-height : 1.5;
    margin-bottom : 50px;
}

.key-subsector-btn{
    padding-left : 24px;
    padding-right : 24px;
    padding-top : 5px;
    padding-bottom : 5px;
    border-radius : 2px;
    border : 2px solid #707070;
}

.key-subsector-btn a{
    font-family: 'Montserrat-medium', sans-serif;
    font-size : 14px;
    text-decoration : none;
    color : black;
    margin-right : 2px;
}

.key-subsector-btn:hover {
    background-color : #F72E30;
    color : white!important;
    border : none;
}

.key-subsector-btn:hover a{
    color : white!important;
}

.key-subsector-btn img{
    height : 10px;
    width : 10px;
}

.brands,.contact-us-page,.sectors,.resources-page{
    background-image : url("../images/abstract-blue-geometric-shapes-background.png");
    background-repeat : repeat;
    background-position: center;
    background-size: 100vw 150vh;
    padding-top : 100px;
}

.our-brands{
    background-image : url("../images/Group 71739.png"),url("../images/Group 70888.png");
    background-repeat: no-repeat;
    background-size : 100vw 60vh,100vw 150px;
    background-position-y : 100px,270px;
}

.our-brand-cards{
    display : flex;
    justify-content : space-around;
    margin-left : 200px;
    margin-right : 200px;
    margin-bottom : 30px;
    text-align : center;
}

.our-brand-card{
    border : 2px solid #F72E30;
    padding-left : 10px;
    padding-right : 10px;
    padding-top : 20px;
    padding-bottom : 20px;
    border-radius : 10px;
    background-color : white;
    margin-bottom : 50px;
}

.our-brand-image img{
    height : 250px;
    width : 250px;
    margin-bottom : 10px;
}

.our-brand-name{
    font-family: 'Poppins-semiBold', sans-serif;
    border : 2px solid #707070;
    border-radius : 5px;
    padding-top : 5px;
    padding-bottom : 5px;
    font-weight : bold;
    margin-left : 24px;
    margin-right : 24px;
}

.our-brand-name:hover{
    border : none;
    background-color : #F72E30;
}

.our-brand-name a{
    text-decoration : none;
    color : #000;
}

.our-brand-name:hover a{
    color : white;
}

.our-projects-subsection {
    position : relative;
    background-image : url("../images/Group 70888.png");
    background-repeat: no-repeat;
    background-size : 100vw 100px;
    background-position-y : 73px;
    margin-bottom : 80px;
}
        
.swiper {
    width: 80%;
    height: 35%;
    position: revert;
    padding : 10px 100px;
}
  
.swiper-slide {
    text-align: center;
    font-size: 18px;

/* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}


.product-img img {
    display: block;
    width: 200px;
    height: 200px;
    /* margin : 10px 30px; */
}
  
.swiper-button-next, .swiper-button-prev {
    width: calc(var(--swiper-navigation-size)/ 40 * 40)!important;
}

.project-next-btn{
    right : 50px!important;
}
.project-prev-btn{
    left : 50px!important;
}

.quote{ 
    font-size : 50px;
    margin-bottom : 50px;
}

.testimonial-swiper-container{
    position : relative;
    width : 100%;
}

.testimonial-cards{
    display : flex;
    padding-bottom : 80px; 
}

.testimonial-card{
    display : flex;
    text-align : start; 
    background-color : #F4232D;
    color : #fff;
    font-size : 16px;
    font-family : 'Poppins', sans-serif;
}

.testimonial-swipper{
    height : 360px;
    width : 55vw;
    margin-bottom : 80px;
}

.testimonial-text{
    margin-left : 50px;
    margin-right : 50px;
}

.testimonial-statement{
    margin-bottom : 50px;
}

.testimonial-img img{
    position : relative;
    left : 10px;
    width : 300px;
    height : 360;
}

.testimonial-swiper-container:before{
    filter : brightness(0.5);
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 150px;
    height: 100%;
    /* opacity: 0.8; */
    background-image : url("../images/young-indian-family-happy-kid-outdoors-39592517.png");
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
    z-index : 10;
    margin-left : 150px;
}

.testimonial-swiper-container:after{
    filter : brightness(0.5);
    content: ' ';
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    width: 150px;
    height: 100%;
    /* opacity: 0.8; */
    background-image : url("../images/channels4_profile.png");
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
    z-index : 8;
    margin-right : 150px;

}

.blogs{
    display : flex;
    justify-content : space-between;
    margin-left : 100px;
    margin-right : 100px;
    margin-bottom : 100px;
}

.blog-section-1{
    background-color : white;
    text-align : center;
    margin-right : 50px;
}

.blog-1-desc{
    margin-top : 20px;
    margin-bottom : 20px;
}

.blog-1-title, .blog-title{
    color : #F72E30;
    font-size : 24px;
    font-weight : bold;
    font-family : 'Montserrat' , sans-serif;
    margin-bottom : 8px;
}

.blog-1-text{
    font-size : 24px;
    word-spacing : 2px;
    line-height : 1.5;
    color : #707070;
    font-family : 'Montserrat' , sans-serif;
    font-weight : regular;
}

.blog-1-img img{
    height : 60vh;
    width : 50vw;
}

.blog-2{
    margin-bottom : 60px;
}

.blog-2, .blog-3{
    display : flex;
    background-color : white;  
}

.blog-img img{
    height : 37vh;
}

.blog-desc{
    margin-top : 12vh;
    margin-left : 10px;
    margin-right : 10px;
}

.blog-text{
    font-size : 18px;
    word-spacing : 1px;
    line-height : 1.2;
    color : #707070;
    font-family : 'Montserrat' , sans-serif;
    font-weight : regular;
}

.blog-cards{
    padding-bottom : 50px;
    display : flex;
    justify-content : space-between;
    margin-left : 180px;
    margin-right : 180px;

}

.blog-card{
    background-color : white;
    width : 300;
    margin : 10px;
    border-radius : 5px;
    padding : 10px;
}

.blog-card-img img{
    width : 300px;
}

.blog-card-posted-date span{
    color : #707070;
    font-family : 'Roboto', sans-serif;
    font-size : 16px;
}

.blog-card-posted-date img{
    margin-top : 10px;
    margin-right : 5px;
    height : 16px;
    width : 16px;
    padding-top : 8px;
}

.blog-card-title{
    font-size : 18px;
    font-weight : bold;
    font-family : 'Roboto', sans-serif;
    margin-top : 10px;
}

.bolg-card-text{
    font-family : 'Roboto', sans-serif;
    margin-top : 5px;
    color : #707070;
    font-size : 14px;
    margin-bottom : 20px;
}
.blog-card-btn a{
    text-decoration : none;
    color : #FF194F;
    font-family : 'Roboto', sans-serif;
    font-weight : bold;
}

.blog-card-btn img{
    margin-left : 20px;
    height : 12px;
}
.solutions-page{
    background-image : url("../images/abstract-blue-geometric-shapes-background.png");
    background-repeat : repeat;
    background-position: center;
    background-size: 100vw 150vh;
    padding-top : 100px;

}
.our-solutions{
    display : flex;
    margin-left : 100px;
    margin-right : 100px;
    margin-bottom : 50px;
}

.our-solution-desc{
    width : 60vw;
    margin-top : 0px;
}

.our-solution-cards-1-section{
    margin-top : 180px;
}

.card, .brand-card{
    background-color : white;
    margin-bottom : 50px;
    margin-left : 50px;
    padding-top : 30px;
    padding-bottom : 40px;
    text-align : center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);  
    border-radius : 10px; 
    border : 1px solid #F72E30;    
    width : 300px;     
}

.card-img img{
    width : 130px;
    height : 130px;
    margin-bottom : 20px;
}

.card-title{
    font-family : 'Lexend-medium', sans-serif;
    font-size : 24px;
    margin-bottom : 15px;

}

.card-text, .brand-card-text{
    font-family : Montserrat-light, sans-serif;
    font-size : 22px;
    margin-bottom : 40px;
    color : #707070;
}

.pink-card{
    background-color : #F72E30;
    color : white!important;
}

.pink-card .card-text{
    color : white;
}

.pink-card .card-btn a{
    color : white;
}
.pink-card .card-btn{
    border : 2px solid white;
}

.brand-section-1, .brand-section-2{
    display : flex;
    margin-left : 100px;
    margin-right : 200px;
    margin-bottom : 50px;
}

.brand-section-1{
    justify-content : space-between;
    margin-top : 150px!important;
}

.brand-section-2{
    justify-content : end;
}

.brand-desc{
    width : 40vw;
}

.brand-title{
    color : #F72E30;
    font-family : 'Lexend-bold', sans-serif;
    font-size : 48px; 
    font-weight : bold;
    margin-bottom : 20px;
    margin-top : 20px;
}

.brand-text{
    font-family : 'Lexend', sans-serif;
    font-size : 22px; 
    word-spacing : 2px;
    line-height : 1.3;
}

.brand-card{
  width : 300px;
  padding-left : 10px;
  padding-right : 10px;

}

.brand-card-img img{
    width : 230px;
    height : 230px;
    margin-bottom : 30px;
    margin-top : -115px;
}

.brand-card-title{
    font-family : 'Lexend-medium', sans-serif;
    font-size : 26px;
    margin-bottom : 15px;
    color : #F72E30;

}

.brand-crousel{
    display: flex;
    justify-content : space-between;
    margin-left : 100px;
    margin-right : 100px;
    /* background-image : url("assets/images/Rectangle 18366.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size:  100vh 100vw; */
    margin-bottom : 100px;
}

.crousel-img img{
    width : 75vw;
    height : 65vh;
}

.left-swipe-arrow img, .right-swipe-arrow img{
    height : 40px;
    width : 40px;
    margin-top : 32vh;
}

.sub-brand-1, .sub-brand-2, .sub-brand-3{
    display : flex;
    justify-content : space-between;
    margin-left : 200px;
    margin-right : 200px;
    padding-bottom : 50px;
}

.sub-brand-desc{
    margin-top : 50px;
    width : 45vw;
}

.sub-brand-title{
    font-family : 'Lexend-bold', sans-serif;
    color : #F72E30;
    font-weight : bold;
    font-size : 42px;
    margin-bottom : 20px;
}

.sub-brand-text{
    font-family : 'Lexend', sans-serif;
    word-spacing : 2px;
    line-height : 1.5;
    font-size : 24px;
}

.sub-brand-img img{
    width : 350px;
    height : 350px;
}

.our-experience{
    
    text-align : center;
    font-family: 'Lexend', sans-serif;
    padding-bottom : 80px;
    padding-top : 50px;
    background-image : url("../images/gray-abstract-wireframe-technology-background.png");
    background-repeat: no-repeat;
    background-size : 100vw 130vh;
    
}

.our-experience-title{
    font-size : 36px;
    font-weight : bold;
    margin-bottom : 10px;
}

.our-experience-text{
    font-size : 18px;
    margin-bottom : 50px;
}

.our-solution-gallery{
    display : flex;
    justify-content : space-between;
    margin-left : 100px;
    margin-right : 100px;
    padding-bottom : 50px;
}

.img img{
    width : 28vw;
}

.experience-cards{
    display : flex;
    justify-content : space-around;
    padding-left : 200px;
    padding-right : 200px;
}

.experience-cards div img{
   width: 400px;
   margin-right : 20px;

}

.our-capabilities{
    text-align : center;
    margin-bottom : 80px;
}

#capabilities-title{
    font-size : 24px;
    color : #F82B33;
    margin-bottom : 10px;
    font-family: 'Lexend', sans-serif;
    font-weight : bold;
}

#capabilities-text{
    font-size : 20px;
    margin-bottom : 50px;
    font-family: 'Lexend', sans-serif;
}

.capabilities-cards{
    display : flex;
    justify-content : space-between;
    margin-left : 200px;
    margin-right : 200px;
}


#payment-title, #review-title, #communication-title{
    margin-top : 20px;
    font-size : 24px;
    font-family: 'Lexend-bold', sans-serif;
}


#payment-text,#review-text ,#communication-text{
    font-family: 'Lexend-light', sans-serif;
    font-size : 14px;
    margin-top : 16px;
    padding-left : 25px;
    padding-right : 25px;
}

.capabilities-cards div img {
    margin-top : 50px;
    margin-top : 50px;
    height : 80px;
    width : 80px;
}

.capabilities-card-review{
    background-color : #111;
    border : 2px solid #111;
    color : white;
    width : 23vw;
    border-radius : 10px;
    padding-top : 20px;
    padding-bottom : 20px;
    margin-right : 20px;
}

.capabilities-card-payment{
    border : 2px solid #111;
    width : 23vw;
    border-radius : 10px;
    padding-top : 20px;
    padding-bottom : 20px;
    margin-right : 20px;

}
.capabilities-card-communication{
    border : 2px solid #111;
    width : 23vw;
    border-radius : 10px;
    padding-top : 20px;
    padding-bottom : 20px;
    margin-right : 20px;

}

.motivation-card{
    background-color : #111;
    color : #fff;
    display : flex;
    justify-content : space-between;
    padding-left : 100px;
    padding-right : 100px;
    padding-top : 30px;
    padding-bottom : 30px;
    font-family: 'Lexend', sans-serif;

}

.motivation-card img {
    height : 350px;
}

.motivation-card div{
    font-size : 18px;
    margin-top : 85px;
    margin-right : 200px;
    word-spacing : 2px;
    line-height : 1.6;
}

.section-3{
    background-image : url("../images/abstract-blue-geometric-shapes-background.png");
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
}

.how-we-do{
    text-align : center;
    font-family: 'Lexend-bold', sans-serif;
    margin-bottom : 50px;
    padding-top : 50px;

}

#how-we-do-title{
    font-weight : bold;

}

#how-we-do-text{
    font-size : 18px;
    word-spacing : 1px;
    line-height : 1.2;
}

.how-we-do-cards{
    display: flex;
    justify-content : space-between;
    margin-left : 200px;
    margin-right : 200px;
    padding-top : 20px;
    padding-bottom : 20px;
}

.how-we-do-card-title{
    font-size : 18px;
    font-weight : bold;
    margin-bottom : 16px;
}

.how-we-do-card-text{
    font-size : 16px;
    word-spacing : 2px;
    line-height : 1.4;
    font-weight : thinner;
}

.how-we-do-card-1, .how-we-do-card-2, .how-we-do-card-3, .how-we-do-card-4{
    width : 33vw;
}

.how-we-do-cards img{
    height : 120px;
    width : 120px;
    margin-bottom : 20px;
}

#how-we-do-title{
    color : #F72E30;
    font-size : 36px;
    margin-bottom : 10px;
}

#how-we-do-text{
    margin-bottom : 30px;
}

.service-section{
    text-align : center;
    font-family : 'Lexend', sans-serif;
}

.service-section-title{
    color : #F72E30;
    font-size : 36px;
    font-weight : bold;
    margin-bottom : 10px;

}

.service-section-text{
    margin-bottom : 30px;
    font-size : 24px;
}

.service-section-cards{
    display : flex;
    justify-content : space-between;
    padding-bottom : 50px;
    margin-left : 250px;
    margin-right : 250px;
}
.service-section-img{
    margin-right : 30px;
}
.service-section-cards div img{
    height : 250px;
    width : 280px;
}

.subsectors{
    margin-left : 100px;
    margin-right : 100px;
}

.subsector{
    display : flex;
    justify-content : space-between;
    margin-bottom : 50px;
}

.subsector-img img{
    height : 60vh;
    width : 42vw;

}

.subsector-desc{
    margin-right : 100px;
    margin-top : 40px;
}

.see-more-sector{
    padding-bottom : 80px;
    text-align : center;
}

.btn, .our-solution-btn{
    border : 2px solid black;
    padding-left : 36px;
    padding-right : 36px;
    padding-top : 10px;
    padding-bottom : 10px;
    border-radius : 5px;
}

.btn:hover, .our-solution-btn:hover {
    background-color: #F72E30;
    border : none; 
    color : white; 
}


.btn a, .our-solution-btn a{
    text-decoration : none;
    color : black;
    font-family :'Montserrat', sans-serif;
    margin-right : 5px;
}

.btn:hover a, .our-solution-btn:hover a{
    color : white;
}

.subsector-title, .our-solution-title{
    font-family : 'Lexend', sans-serif;
    font-size : 30px;
    color : #F72E30;
    font-weight : bold;
    margin-top : 30px;
    margin-bottom : 30px;
}

.subsector-text, .our-solution-text{
    font-family :'Montserrat', sans-serif;
    font-weight : regular;
    margin-bottom : 50px;
    word-spacing : 1px;
    line-height : 1.5;
}

.cover_img{
    height : 80vh;
    background-image : url("../images/man-recording-studio-music-production.png"),url('../images/colleagues-working-together-call-center-office.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align : center;
    color : white;
    font-family : 'Lexend-bold', sans-serif;
}

.cover_img h1{
    padding-top : 40vh;
}

.get-in-touch{
    text-align : center;
}

.get-in-touch-title{
    margin-bottom : 10px;
    font-family : 'Lexend-bold', sans-serif;
}

.get-in-touch-text{
    margin-bottom : 30px;
    font-family : 'Lexend-light', sans-serif;

}

.contact-details{
    font-family : 'Lexend-light', sans-serif;
    display : flex;
    justify-content : space-around;
    background-color : #fff;
    padding-top : 20px;
    padding-bottom : 20px;
    margin-left : 250px;
    margin-right : 250px;
}

.contact-details div img{
    height : 20px;
    margin-right : 8px;
}

.contact-address, .contact-phone, .contact-email{
    display : flex;
}

.contact-phone, .contact-email{
    padding-top : 8px;
}

.contact-address img{
    padding-top : 8px;
}

.form {
    margin-top : 50px;
    padding-bottom : 50px;
}

.contactus-button{
    text-align : center;
    margin-top : 50px;
}

form{
    background-color : white;
    margin-left : 250px;
    margin-right : 250px;
    padding : 30px;
}
.contact-form{
    display : flex;
    justify-content : space-around;
    margin-bottom : 20px;
    font-family : 'Lexend', sans-serif;
    
}

.contact-form-title{
    font-family : 'Lexend-bold', sans-serif;
    font-size : 24px;
    margin-bottom : 20px;
}



input{
    
    width : 24vw;
    height : 5vh;
    border : 2px solid #f0f0f0;
    border-radius : 5px;
    background-color : #f0f0f0;
    margin-bottom : 20px;
    margin-top : 10px;
}

textarea{
    padding : 10px;
    width : 24vw;
    height : 194px;
    border : 2px solid #f0f0f0;
    border-radius : 5px;
    background-color : #f0f0f0;
    margin-top : 10px;
}

.auxiable-india-map{
    width : 30vw;
}
.message-section{
    margin-top : 50px;
}

.contactus-button button{
    color : white;
    background-color : #F72E30;
    padding-left : 30px;
    padding-right : 30px;
    padding-top : 10px;
    padding-bottom : 10px;
    border : none;
    border-radius : 5px;
}

/* footer section */
.footer{
    display : flex;
    background : #111;
    color : white;
    justify-content : space-around;
    padding-top : 48px;
    font-size : 18px;
    padding-bottom : 48px;
}

.footer-section1{
    width : 30%;
    font-family: 'Poppins-regular', sans-serif; 
}

.footer-section1 div{
    margin-top : 25px;

}

.footer_content{
    width : 75%;
}

.social_icons ul{
    list-style-type : none;
    display : flex;
    justify-content : space-between;
    margin-left : 0px;
    margin-right : 200px;
    margin-top : 50px;
    margin-bottom : 50px;
}

.social_icons ul li img{
    height : 30px;
    width : 30px;
}

.footer-section2{
    display : flex;
    color : white;
    justify-content : space-around;
    
}

.information h3{
    font-family: 'Poppins-bold', sans-serif; 
}

.information{
    margin-right: 200px;
    margin-left: -200px;
}

.information ul {
    list-style-type:none;
}

.information ul li{
    margin-top : 16px;
}

.information ul li a{
    font-family: 'Poppins-regular', sans-serif; 
    text-decoration : none;
    color : white;
}

.contact-info h3{
    font-family: 'Poppins-bold', sans-serif; 
}

.contact-info div{
    margin-top : 16px;
    font-family: 'Poppins-regular', sans-serif; 
}


.contact-info div img{
    margin-right : 8px;

}

/* Not found page */

.not-found-container{
    height : 100vh;
    background-color : #f0f0f0;
}

.not-found-desc{
    font-family : 'Lexend', sans-serif;
    text-align : center;
    padding-top : 40vh;
}

.not-found-title{
    font-size : 48px;
    font-weight : bold;
    margin-bottom : 10px;
}

.not-found-text a{
    font-size : 20px;
    color : #707070;
}

@media screen and (max-width: 1260px) {
    .menu ul{
        position : fixed;
        top : 86px;
        left : -100%;
        height : 100vh;
        width : 100vw;
        background : #111;
        display : block;
        text-align : center;  
        transition : all 0.3s ease;
    }

    #click:checked ~ ul{
        left : 0%;
    }

    .menu ul li {
        padding-left: 0px;
    }
    .menu ul li{
        margin : 40px 0px;
    }

    .menu ul li a{
        color : white;
        font-size : 20px;
        /* display : block; */
    }

    .navbar{
        padding-left : 100px;
        padding-right : 50px;   
    }

    .hamburger-icon i{
        display : block;
        font-size : 24px;
        color : #111;
        cursor : pointer;
    }

    #click:checked ~ .hamburger-icon i:before{
        content : '\f00d';
    }
  } 